.sample-button{
	background-color: #3faa00;
	color: #ffffff;
	padding: 5px;
	border: 2px solid #960093;
}
.sample-button:hover{
	background-color: #33af00;
	color: #ffffff;
	padding: 5px;
	border: 2px solid #99ff99;
}
